[Unit]
Description=docker apt-proxy
Requires=docker.service
After=docker.target network.target

[Service]
User=containers
Restart=always
ExecStartPre=/usr/local/bin/docker-compose -f /home/containers/apt-proxy/docker-compose.yml down 
ExecStartPre=/usr/local/bin/docker-compose -f /home/containers/apt-proxy/docker-compose.yml rm 
ExecStartPre=-/bin/bash -c 'docker volume rm $(docker volume ls -q)'
ExecStartPre=-/bin/bash -c 'docker rmi $(docker images | grep "<none>" | awk \'{print $3}\')'
ExecStartPre=-/bin/bash -c 'docker rm -v $(docker ps -aq)'

# Compose up
ExecStart=/usr/local/bin/docker-compose -p /home/containers/apt-proxy/ -f /home/containers/apt-proxy/docker-compose.yml up 

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose -f /home/containers/apt-proxy/docker-compose.yml down 

[Install]
WantedBy=multi-user.target
Alias=apt-proxy.service

